extends default

block content
  header
    div(class="container-fluid")
      h5 
        a(href='/') GitHub API
      div(class="row justify-content-md-center")
        div(class="col-md-auto")
          div(class="row")
            div(class="col-5")
              label(for="ownerInput") Repo Project / Owner
            div(class="col-5")
              label(for="repoInput") Repo Name
          form(action='/search' method='GET' class="form-inline mx-auto")
            div(class="form-row align-items-center")
                  div(class="col-auto")
                    input(id="ownerInput" class="form-control mb-5" type="text" name="owner" placeholder="ex. nodejs")
                  div(class="col-auto")
                    input(id="repoInput" class="form-control mb-5" type="text" name="repo" placeholder="ex. node")
                  div(class="col-auto")
                    input(id="submit" type="submit" class="btn btn-primary ml-2 mb-5" value="Submit")
      
      div(class="row justify-content-md-center")
        div(class="col-md-auto")
          h6 Email this to me
          form(action='/api/send-email' method='post' class="form-inline mx-auto")
            div(class="form-row align-items-center")
                  div(class="col-auto")
                    input(class="form-control mb-5" type="text" name="name" placeholder="ex. John")
                  div(class="col-auto")
                    input(class="form-control mb-5" type="text" name="email" placeholder="ex. your@email.address")
                  div(class="col-auto")
                    input(type="submit" class="btn btn-primary ml-2 mb-5" value="Send")
   

  div(class="row justify-content-md-center")
    div(class="col-md-auto")
      if !searchResults
          p No results found for your query:
          |
          strong #{searchQuery}
      else
      p Pull requests from the last 7 days...
        ul(id="repoPulls" class="list-group mx-auto mb-5")
          each pullRequest in searchResults
            li(class="list-group-item")
              div(class="container")
                div(class="row")
                  div(class="col-sm-2")
                    p.font-weight-bold Title:
                  div(class="col-sm-8")
                    p #{pullRequest.title}
                div(class="row")
                  div(class="col-sm-2")
                    p.font-weight-bold State:
                  div(class="col-sm-8")
                    p #{pullRequest.state}
                div(class="row")
                  div(class="col-sm-2")
                    p.font-weight-bold Draft:
                  div(class="col-sm-8")
                    p #{pullRequest.draft}
                div(class="row")
                  div(class="col-sm-2")  
                    p.font-weight-bold Created:
                  div(class="col-sm-8")
                    p #{pullRequest.created_at}
                div(class="row")
                  div(class="col-sm-2")
                    p.font-weight-bold URL:
                  div(class="col-sm-8")
                    a(href=`${pullRequest.html_url}`) #{pullRequest.html_url}
                
              



    
        